extends ./layout.jade
block content
	section(class="section_box")
		div(class="content_wrap")
			div
				p(class="about_box") Janus Blog is a blog CMS developed using Jade & Node.js.
					| It is designed with 
					a(href="https://github.com/learnboost/stylus" target="_blank") Stylus 
					| and 
					a(href="http://jeet.gs/" target="_blank") Jeet 
					| and some other tools like 
					a(href="https://github.com/jenius/rupture" target="_blank") Rupture 
					| and Nib.
