footer
  ul(class="social_wrap")
    li
      a(class="twitter" href="https://twitter.com/adamfredie")
        span(class="icon-twitter")
    li
      a(class="github" href="https://github.com/skippednote/blogger")		
        span(class="icon-github-circled")
    li
      a(class="mail" href="mailto:whackyapple@gmail.com?Subject=Hello")		
        span(class="icon-mail")		
  img(src="/images/cc.svg" class="cc_logo")

