header

	a(href="/blog", class="logo")
		img(class="logo-image" src="/images/j.png" href="http://localhost:3000/blog/")
	div(class="header-meta")
		h1(class="site-title") Janus Blog Projekt
		nav(class="navigation")
			ul
				li(class="list-items")
					a(href="/blog") Home
				li(class="list-items")
					a(href="/blog/new") New
				li(class="list-items")
					a(href="/about") About
