*, *:after, *:before
  box-sizing border-box

body
  background color-background
  center(900px)
  font-family font-primary
  font-size 1.125rem
  line-height 1.5

a, a:visited
  text-decoration none

p
  margin-top .25rem
  margin-bottom .75rem
  a
    @extend .link-default
