footer
  text-align center

.social_wrap
  @extend .list-bare
  padding 1rem
  li
    display inline-block
  a
    font-size 2rem

.twitter
  color #55acee

.github
  color #333

.mail
  color #db4437
