input, textarea
  border 1px solid #aaa
  font-size 1.125rem
  font-family font-primary
  background white

input[type='text'], textarea
  width 100%
  padding 1rem
  margin-bottom .5rem

textarea
  resize vertical

input[type='submit']
  padding 1rem
  border-radius 0
  cursor pointer
